# Get your Open AI API Key by following these instructions -
# https://help.openai.com/en/articles/4936850-where-do-i-find-my-openai-api-key
# You only need this environment variable set if you are using GPT (and not Ollama)
OPENAI_API_KEY=

# On Mac/Linux, this can be just 'npx'
# On Windows, specify the full path to npx like "C:\\Program Files\\nodejs\\npx.cmd" (run npx where in the command line to find this)
NPX_COMMAND=npx